LULU_APP_NAME="Lulu"
OLLAMA_BASE_URL="http://localhost:11434"
OLLAMA_CHAT_MODEL="llama3.2:3b"
OLLAMA_EMBED_MODEL="nomic-embed-text"
MLX_WHISPER_MODEL="mlx-community/whisper-base-mlx"
MLX_WHISPER_LANGUAGE="en"
AUDIO_INPUT_DEVICE=""
CHROMA_PATH="./vault_db"
CHROMA_COLLECTION="lulu_memory"
OLLAMA_TIMEOUT_SECONDS="120"
VAD_THRESHOLD="0.015"
VAD_SILENCE_SECONDS="1.0"
VAD_MIN_SPEECH_SECONDS="0.35"
VAD_MAX_RECORD_SECONDS="12"
VAD_CHUNK_SECONDS="0.10"
TOP_K_MEMORIES="3"
MAX_FACT_LENGTH="500"
MEMORY_DEDUP_SIMILARITY_THRESHOLD="0.92"
MEMORY_DEDUP_QUERY_K="3"
MEMORY_MAX_TAGS="3"
MEMORY_TAG_CLASSIFIER_MODEL=""
TTS_STREAM_MIN_CHUNK_CHARS="36"
TTS_STREAM_START_BUFFER_CHARS="110"
TTS_STREAM_GROUP_TARGET_CHARS="150"
TTS_STREAM_MAX_GROUP_SENTENCES="2"
TTS_STREAM_CLAUSE_BOUNDARY_CHARS="120"
TTS_STREAM_TAIL_MERGE_CHARS="40"
TTS_STREAM_TAIL_MERGE_OVERFLOW_CHARS="48"
TTS_STREAM_SOFT_CHUNK_CHARS="150"
TTS_STREAM_MAX_CHUNK_CHARS="240"
PRACTICAL_VOICE_MODE="false"
WAKE_PHRASE="hey lulu"
WAKE_SCAN_MAX_RECORD_SECONDS="3.0"
WAKE_SCAN_MIN_SPEECH_SECONDS="0.25"
WAKE_SCAN_SILENCE_SECONDS="0.45"
WAKE_SCAN_PRE_ROLL_CHUNKS="6"
CONVERSATION_WINDOW_SECONDS="12.0"
WAKE_COOLDOWN_SECONDS="1.2"
SELF_AUDIO_GUARD_SECONDS="8.0"
SELF_AUDIO_SIMILARITY_THRESHOLD="0.74"
WAKE_MATCH_SCORE_THRESHOLD="0.86"
CONTINUOUS_LISTENING_ENABLED="true"
LULU_AUTO_START_OLLAMA="true"
LULU_RESTART_ON_FAILURE="true"
LULU_MAX_RESTARTS="2"
LULU_RESTART_BACKOFF_SECONDS="2"
